*{
    font-family:  comic sans MS, cursive;
    color:  hsl(330, 63%, 62%)
}

.pinkBG{
    display: flex;
    justify-content: center;
    color: hsl(100, 100%, 100%);
    background-color: hsl(330, 63%, 62%);
    padding: 1%;
    border-radius: 2%;
}