*{
    font-family:  comic sans MS, cursive;
    color:  hsl(22, 65%, 43%);
}

.BG{
    display: flex;
    justify-content: center;
    background-color: hsl(22, 65%, 43%);
    color: white;
    padding: 1%;
    border-radius: 2%;
}

