*{
    font-family:  comic sans MS, cursive;
    color:  hsl(289, 52%, 65%)
}

.BG{
    display: flex;
    justify-content: center;
    background-color: hsl(289, 52%, 65%);
    color: white;
    padding: 1%;
}

