*{
    font-family:  comic sans MS, cursive;
    color: hsl(340, 62%, 60%);
}

.BG{
    display: flex;
    justify-content: center;
    color: hsl(100, 100%, 100%);
    background-color: hsl(340, 62%, 60%);
    padding: 1%;
}